


<html>
<body>
<div class="container">
	<h2>Tickets details</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>Category name</th>
				<th>Status</th>
				<th>Image</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @ticket.title %></td>
				<td><%= @ticket.description %></td>
				<td><%= @ticket.category.name %></td>			
				<td><%= @ticket.status %></td>
				<td></td>
				
			</tr>
		</tbody>

		
	</table>
	
	<% @ticket.images.each do |image|%>
	 <%= image_tag(url_for(image)) %>
 |<% end %>

 <%#= image_tag(@ticket.images%>

<li><%= link_to "update", ticket_edit_path(@ticket) %></li>
<li><%= link_to "Delete", ticket_delete_path(@ticket), method: :delete, data: {confirm: "Are you sure?"}  %></li>


<%= link_to "Back" , tickets_path %>


</div>
</body>	
</html>







