<h2>Example</h2>






<label>======================</label>
<%= form_for :person do |f| %>
	First name: <%= f.text_field :fname %><br>
	Last name: <%= f.text_field :lname %><br />
	Biography: <%= f.text_area :biography %><br />
	Admin?: <%= f.check_box :admin %>
	<%= f.label :admin , "click here!"%><br />
	<%= f.submit %>
	   
<% end %>
<label>===================================================</label>
<%= form_with url:"/search" , method: :get do |form|%>

	Addresses:
  	<ul>
    <%= form.fields_for :addresses do |addresses_form| %>
      <li>
        <%= addresses_form.label :kind %>
        <%= addresses_form.text_field :kind %>

        <%= addresses_form.label :street %>
        <%= addresses_form.text_field :street %>
        ...
      </li>
       <li>
        <%= addresses_form.check_box :_destroy %>
        <%= addresses_form.label :kind %>
        <%= addresses_form.text_field :kind %>
        ...
      </li>
    <% end %>
  </ul>


	<label>======================================</label><br>
	<%= check_box_tag "accept" %><br>

	<%= form.text_field :first_name %><br>
	<%= form.file_field :picture %><br>
	<%= select_year 2001, prefix: "party" %><br>


	<%= form.time_zone_select :time_zone %><br>
	<%= form.date_select :birth_date %><br>


	<%= form.select :city, ["z","a","b"]%><br>
	
	<%= form.select :city, [["x","y"],["p","q"],["e","f"]], selected: "q"%><br>
	<%= form.select :city, 
		{
			"Europe" => [ ["Berlin", "BE"], ["Madrid", "MD"] ],
        "North America" => [ ["Chicago", "CHI"] ],
		}%>


	<p><label>==============================</label><br></p>
	<%= form.label :query, "search for:" %>
	<%= form.text_field :query %>
	<%= form.submit "search" %><br>
	
	<%= form.check_box :pet_dog %>
	<%= form.label :pet_dog, "i own dog" %>
	<%= form.check_box :pet_cat %>
	<%= form.label :pet_cat, "i own cat" %><br>

	<%= form.radio_button :age, "child" %>
	<%= form.label :age_child, "i am younger than 21"%>
	<%= form.radio_button :age, "adult" %>
	<%= form.label :age_adult, "i am over 21"%><br>


	<%= form.text_area :message , size: "70*5" %><br>
	<%= form.hidden_field :parent_id , value: "fo0" %><br>
	<%= form.password_field :password %><br>
	<%= form.number_field :price, in: 1.0..20.0, step: 0.5 %><br>
	<%= form.range_field :discount, in: 1..100 %><br>
	<%= form.date_field :born_on %><br>
	<%= form.time_field :started_at %><br>
	<%= form.datetime_local_field :graduation_day %><br>
	<%= form.month_field :birtday_month %><br>
	<%= form.week_field :birtday_week %><br>
	<%= form.search_field :name %><br>
	<%= form.email_field :address %><br>
	<%= form.telephone_field :phone %><br>
	<%= form.url_field :homepage %><br>
	<%= form.color_field :favorite_color %><br>

	<%= form.text_field :title %>
	<%= form.text_area :body %>
	<%= form.submit %><br/>




<% end %>



